/* GRID
-------------------------- */
.col {
    float: left;
    display: inline;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    &.padded {
        padding-left: 1em;
        padding-right: 1em;
    }
    &.no-left {
        padding-left: 0;
    }
    &.no-right {
        padding-right: 0;
    }
}
.row {
    margin-bottom: 1em;
}
.one {
    width: 6.25%;
}
.two {
    width: 12.5%;
}
.three {
    width: 18.75%;
}
.four {
    width: 25%;
}
.five {
    width: 31.25%;
}
.six {
    width: 37.5%;
}
.seven {
    width: 43.75%;
}
.eight {
    width: 50%;
}
.nine {
    width: 56.25%;
}
.ten {
    width: 62.5%;
}
.eleven {
    width: 68.75%;
}
.twelve {
    width: 75%;
}
.thirteen {
    width: 81.25%;
}
.fourteen {
    width: 87.5%;
}
.fifteen {
    width: 92.75%;
}
.sixteen {
    width: 100%;
}
.one-third {
    width: 33.33%;
}
.two-thirds {
    width: 66.66%;
}
