/* FORMS ELEMENTS
-------------------------- */
.checkradio {
	input {
		display: none;
		&[type=radio] + label:before {
			border-radius: 50%;
		}
	}
	label {
		cursor: pointer;
		user-select: none;
		&:before {
			position: relative;
			top: -2px;
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			vertical-align: middle;
			background-color: $bgBaseLight;
		}
	}
	input:checked + label:before {
		background-color: $bgBaseDark;
	}
}