/* NORMALIZE
-------------------------- */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: black;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* GRID
-------------------------- */
.col {
  float: left;
  display: inline;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col.padded {
  padding-left: 1em;
  padding-right: 1em;
}
.col.no-left {
  padding-left: 0;
}
.col.no-right {
  padding-right: 0;
}

.row {
  margin-bottom: 1em;
}

.one {
  width: 6.25%;
}

.two {
  width: 12.5%;
}

.three {
  width: 18.75%;
}

.four {
  width: 25%;
}

.five {
  width: 31.25%;
}

.six {
  width: 37.5%;
}

.seven {
  width: 43.75%;
}

.eight {
  width: 50%;
}

.nine {
  width: 56.25%;
}

.ten {
  width: 62.5%;
}

.eleven {
  width: 68.75%;
}

.twelve {
  width: 75%;
}

.thirteen {
  width: 81.25%;
}

.fourteen {
  width: 87.5%;
}

.fifteen {
  width: 92.75%;
}

.sixteen {
  width: 100%;
}

.one-third {
  width: 33.33%;
}

.two-thirds {
  width: 66.66%;
}

/* BASE THEME
-------------------------- */
html, button, input, select, textarea {
  color: #222222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: Helvetica, Helvetica Neue, Arial;
}

a, a:visited {
  color: #222222;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #090909;
}

a:active {
  color: black;
}

::-moz-selection {
  background: #cccccc;
  text-shadow: none;
}

::selection {
  background: #cccccc;
  text-shadow: none;
}

::-moz-selection:window-inactive {
  background-color: #cccccc;
}

::selection:window-inactive {
  background-color: #cccccc;
}

input[type="text"]::-moz-selection, input[type="password"]::-moz-selection, input[type="email"]::-moz-selection, textarea::-moz-selection {
  background-color: #cccccc;
}

input[type="text"]::selection, input[type="password"]::selection, input[type="email"]::selection, textarea::selection {
  background-color: #cccccc;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, video {
  vertical-align: middle;
}

img, svg {
  vertical-align: top;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.oldbrowsers {
  margin: 0.2em 0;
  background: #cccccc;
  color: #222222;
  padding: 0.2em 0;
}

/* FORMS ELEMENTS
-------------------------- */
.checkradio input {
  display: none;
}
.checkradio input[type=radio] + label:before {
  border-radius: 50%;
}
.checkradio label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkradio label:before {
  position: relative;
  top: -2px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #cccccc;
}
.checkradio input:checked + label:before {
  background-color: gray;
}

/* HELPERS
-------------------------- */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
